.lg-header {
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    display: flex;
    padding-top: 3%;
}

h1 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 300%;
    text-align: center;
    padding-top: 5%;
}

.lg-header p {
    font-size: small;
    text-align: left;
}

#profile-pic {
    width: 40%;
    vertical-align: middle;
    margin-left: 5%;
    box-shadow: 3px 3px 5px grey;
}
