.lg-header {
    color: black;
    font-family: 'PT Serif', serif;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;

    background-image:url('aerial.jpg')
}

.lg-header h1 {
    font-size: xx-large;
}

.lg-header p {
    font-size: medium;
}